/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* General */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #000;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.encabezado__logo img {
    height: 100px;
}

.navegacion {
    display: flex;
    align-items: center;
    padding-right: 50px; 
}

.navegacion__lista {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navegacion__item {
    margin-left: 10px;
    position: relative;
}

.navegacion__enlace {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 5px 20px;
    transition: color 0.3s, border-bottom 0.3s;
}

.navegacion__enlace:hover {
    color: orange;
    border-bottom: 2px solid orange;
}

.navegacion__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacion__submenu-item {
    margin: 0;
}

.navegacion__submenu-enlace {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navegacion__submenu-enlace:hover {
    background: #333;
}

.navegacion__item--tours:hover .navegacion__submenu {
    display: block;
}

/* Video */
.seccion-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controles-video {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#icono-volumen {
    font-size: 24px;
    cursor: pointer;
}

/* Estilo para la carta de inicio de sesión */
.carta-login {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 250px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.carta-login__contenido {
    text-align: center;
}

.carta-login__logo {
    width: 100px;
    margin-bottom: 10px;
}

.carta-login__formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carta-login__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.carta-login__boton {
    background-color: #0a9774;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carta-login__boton:hover {
    background-color: #186d4a;
}



/* Animación de aparición */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.carta-login.aparecer {
    animation: aparecer 0.5s ease-out forwards;
}

/* Texto */
.seccion-texto {
    font-size: 25px;
    padding: 60px 20px;
    text-align: center;
    animation: fade-in 2s ease-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.carta-login {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 250px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.carta-login.aparecer {
    animation: aparecer 0.5s ease-out forwards;
}

.carta-login.salida {
    animation: animate__animated animate__rubberBand 1s;
    animation-fill-mode: both;
    opacity: 0;
    transform: translateY(-20px);
}
.seccion-descubre {
    font-size: 25px;
    padding: 60px 20px;
    text-align: center;
    animation: fade-in 2s ease-out;
}

.seccion-descubre p {
    font-size: 25px;
    padding: 60px 20px;
    text-align: center;
    animation: fade-in 2s ease-out;
}

/* Fotos */
.seccion-fotos {
    width: 100vw; 
    margin: 0;
    padding: 0;
}

.foto {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover; 
}


.seccion-catalogo {
    position: relative;
    text-align: center;
}

.catalogo-imagen {
    width: 100%; 
    height: auto;
}

.catalogo-boton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.catalogo-boton button {
    border-radius: 20px;
    background-color: #1e854a;
    color: #fff;
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.catalogo-boton button:hover {
    background-color: #162213;
}

* Estilo para las cartas */
.cartas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto; /* Permitir eventos de puntero */
}

.carta {
    position: absolute;
    width: 200px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.carta-contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.carta:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la carta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.carta:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen dentro de la carta */
}

/* Posiciones de las cartas para ejemplo */
.carta:nth-child(1) {
    top: 50%;
    left: 70%;
}

.carta:nth-child(2) {
    top: 20%;
    left: 10%;
}

.carta:nth-child(3) {
    top: 20%;
    left: 55%;
}

.carta:nth-child(4) {
    top: 50%;
    left: 30%;
}


/* Fotos sociales */
.seccion-social {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.social {
    width: 45%;
    height: auto;
    animation: fade-in 2s ease-out;
}


/*suscripción */
.suscripcion {
    font-size: 60px;
    text-align: center;
    padding: 40px 20px;
    background-color: #000;
}

.suscripcion h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 50px;
}

.suscripcion__formulario {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.suscripcion__input {
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.suscripcion__boton {
    background-color: #0a9774;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suscripcion__boton:hover {
    background-color: #186d4a;
}

.pie-pagina {
    width: 100%;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px; /* Solo se verá en escritorio */
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #070808;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #050505;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* Ocultar el logo en móviles */
@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 .box figure img {
        display: none; /* Oculta el logo */
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr); /* Apilar columnas en móviles */
        grid-gap: 30px;
        padding: 35px 0;
    }
}


/* Estilos generales para pantallas pequeñas */
@media screen and (max-width: 800px) {
    @media screen and (max-width: 800px) {
        .encabezado {
            padding: 10px 20px;
            flex-direction: column;
            align-items: center;
        }
    
        .navegacion {
            justify-content: center;
            padding-right: 0;
        }
    
        .navegacion__lista {
            flex-direction: column; /* Apilar elementos */
            align-items: center;
            margin: 0; /* Eliminar margen */
            padding: 0; /* Eliminar padding */
        }
    
        .navegacion__enlace {
            font-size: 20px; /* Ajustar tamaño */
        }
    }
    

    .catalogo-imagen {
        width: 100%; /* Ajusta la imagen al ancho */
        height: auto; /* Mantiene la proporción */
    }

    .catalogo-boton {
        position: relative; /* Para centrar el botón */
        margin: 20px auto; /* Margen automático para centrar */
    }

    .catalogo-boton button {
        font-size: 24px; /* Ajusta el tamaño del botón */
        padding: 10px 20px; /* Ajusta el padding */
    }

    .cartas {
        display: none; /* Oculta la sección de cartas */
    }

    /* Ajustes para la sección de contactos */
    .seccion-contacto {
        padding: 20px; /* Agrega padding para mayor espacio */
        text-align: center; /* Centra el contenido */
    }
}